// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-upper {
  background: #DCDCDC;
  border: 1px solid #A9A9A9;
  padding-left: 10px
}

.card-lower {
  border: 1px solid #A9A9A9;
  margin-bottom: 25px;
  padding-left: 10px
}

h1 {
  padding-left: 10px;
}


